body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #e6f7ff;
  font-size: 4vw;
}

h1 {
  color: #005580;
  font-size: 6vw;
}

.weather-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#map {
  height: 400px;
  width: 100%;  
  margin-top: 16px;
  border-radius: 12px;
  /* overflow: hidden; */
}

.leaflet-container img.leaflet-tile,
.leaflet-container img.leaflet-image-layer {
  max-width: none !important;
}